<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<resource-ref>
		<description>bla..bla..bla...ref name is just name that we give to our
			ressource name
		</description>
		<res-ref-name>jdbc/trainingDB</res-ref-name>
		<res-type>
			org.hsqldb.jdbc.JDBCDataSource
		</res-type>
		<res-auth>
			Container
		</res-auth>
	</resource-ref>

	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>/jsp/*</url-pattern>
	</servlet-mapping>
</web-app>

